
<div class="col-sm-8 col-sm-offset-2">

  <h1>About the App</h1>
  <p class="cvm-justify-text">This app is a simple demonstrator to showcase the differences between a basic implementation of Couchbase and MongoDB.</p>

	<h1>About Avalon Consulting, LLC</h1>
	<p class="cvm-justify-text">Avalon Consulting, LLC transforms data investments into actionable business results through the visioning and implementation of Big Data, Web Presence, Content Publishing, and Enterprise Search solutions. We are the trusted partner to over one hundred clients, primarily Global 2000 companies, public agencies, and institutions of higher learning.</p>

	<p>Avalon is known for providing clients a superior engagement experience through a combination of business acumen, intellectual curiosity, collaborative work style, and strong partnerships with award-winning vendors. Avalon's deep technical expertise mitigates project risk and reduces total cost of ownership for our clients.</p>

	<p>Headquartered in Plano, Texas, Avalon also maintains offices in Austin, TX; Boulder, CO; Chicago, IL; St. Louis, MO; and Washington, D.C.</p>
</div>

