
<div class="row">

  <!-- Facets -->
  <aside class="left-side">
    <h3>Tags</h3>
    <ul class="cvm-facets" ng-repeat="facet in main.facets">
      <li class="cvm-facet"><a ng-click="main.toggleFacet(facet._id)" ng-class="{'cvm-selected': main.isSelected(facet._id)}">{{::facet._id}} ({{::facet.count}})</a></li>
    </ul>
    <a class="btn btn-default btn-xs" ng-click="main.showMore()">Show more...</a>
    <a ng-show="main.facetSize > 10" class="btn btn-default btn-xs" ng-click="main.showLess()">Show less...</a>
  </aside>

  <!-- Resutls -->
  <div class="right-side cvm-posts" ng-repeat="post in main.posts">

    <div class="cvm-post">
      <h2>{{::post.title}}</h2>
      <p>
        <span>by </span><span class="cvm-author">{{::post.author | cvmCsv}}</span>
        <span class="cvm-date">{{::post.date | cvmDate}}</span>
      </p>
      <p class="cvm-tags">
        <span class="cvm-tag label label-info" ng-repeat="tag in post.categories" ng-click="main.toggleFacet(tag)" ng-class="{'cvm-selected': main.isSelected(tag)}">{{tag | cvmCaps}}</span>
      </p>
      <div bind-html-compile="::post.description"/>
      </div>
    </div>
  </div>
</div>